---
import { SITE } from "@config";
import Footer from "@components/Footer.astro";
import getSnippetsCollection from "@utils/getSnippetsCollection";
import getTutorialsCollection from "@utils/getTutorialsCollection";
import Header from "@components/Header.astro";
import i18next, { t, changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Search from "@components/Search";
import type { Language } from "@types";

changeLanguage("en");

const tPageTitle = t("search.title");
const tPageDesc = t("search.description");

// Retrieve all articles
const snippets = await getSnippetsCollection({
  language: i18next.language as Language,
});
const tutorials = await getTutorialsCollection({
  language: i18next.language as Language,
});
const posts = [...snippets, ...tutorials].sort(
  (a, b) => b.data.published.valueOf() - a.data.published.valueOf()
);

// List of items to search in
const searchList = posts.map(({ collection, data }) => ({
  title: data.title,
  description: data.description,
  collection: collection,
  data,
}));
console.log(searchList);
---

<Layout title={`${tPageTitle} | ${SITE.title}`}>
  <Header activeNav="search" />
  <Main pageTitle={tPageTitle} pageDesc={tPageDesc}>
    <Search client:load searchList={searchList} />
  </Main>
  <Footer />
</Layout>
