---
import { localizePath } from "astro-i18next";
import { SITE } from "@config";
import FlutterWebCourseBanner from "@components/FlutterWebCourseBanner.astro";
import Footer from "@components/Footer.astro";
import getSnippetsCollection from "@utils/getSnippetsCollection";
import getTutorialsCollection from "@utils/getTutorialsCollection";
import Header from "@components/Header.astro";
import i18next, { changeLanguage, t } from "i18next";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import PostsGrid from "@components/PostsGrid.astro";
import type { Language } from "@types";

changeLanguage("en");

const tPageTitle = t("site.title");
const tFeatured = t("home.featured");
const tRecentTutorials = t("home.recent_tutorials");
const tAllTutorials = t("home.all_tutorials");
const tRecentSnippets = t("home.recent_snippets");
const tAllSnippets = t("home.all_snippets");
const featuredPosts = await getTutorialsCollection({
  language: i18next.language as Language,
  draft: false,
  featured: true,
});
const tutorials = await getTutorialsCollection({
  language: i18next.language as Language,
  draft: false,
});
const snippets = await getSnippetsCollection({
  language: i18next.language as Language,
  draft: false,
});
---

<Layout title={`${tPageTitle} | ${SITE.title}`}>
  <Header />
  <Main pageTitle={tPageTitle}>
    <FlutterWebCourseBanner />
    <PostsGrid baseUrl="post" posts={featuredPosts} title={tFeatured} />
    <PostsGrid
      baseUrl="post"
      linkToAllHref={localizePath(`/tutorials`, i18next.language)}
      linkToAllText={tAllTutorials}
      posts={tutorials}
      title={tRecentTutorials}
    />
    <PostsGrid
      baseUrl="snippet"
      linkToAllHref={localizePath(`/snippets`, i18next.language)}
      linkToAllText={tAllSnippets}
      posts={snippets}
      title={tRecentSnippets}
    />
  </Main>
  <Footer />
</Layout>
