---
import { localizePath } from "astro-i18next";
import { SITE } from "@config";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import i18next, { changeLanguage, t } from "i18next";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import getSortedPosts from "@utils/getSortedPosts";
import FlutterWebCourseBanner from "@components/FlutterWebCourseBanner.astro";
import PostsGrid from "@components/PostsGrid.astro";

changeLanguage("en");

const tPageTitle = t("site.title");
const tHeroTitle = t("home.hero_video_title");
const tFeatured = t("home.featured");
const tRecentTutorials = t("home.recent_tutorials");
const tAllTutorials = t("home.all_tutorials");
const tRecentSnippets = t("home.recent_snippets");
const tAllSnippets = t("home.all_snippets");
const posts = await getCollection("blog", ({ id }) =>
  id.startsWith(`${i18next.language}/`)
);
const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const tutorials = sortedPosts.filter(
  ({ data }) => data.categories.includes("tutorial") && !data.featured
);
const snippets = sortedPosts.filter(
  ({ data }) => data.categories.includes("snippet") && !data.featured
);
---

<Layout title={`${tPageTitle} | ${SITE.title}`}>
  <Header />
  <Main pageTitle={tPageTitle}>
    <FlutterWebCourseBanner />
    <PostsGrid baseUrl="post" posts={featuredPosts} title={tFeatured} />
    <PostsGrid
      baseUrl="post"
      linkToAllHref={localizePath(`/tutorials`, i18next.language)}
      linkToAllText={tAllTutorials}
      posts={tutorials}
      title={tRecentTutorials}
    />
    <PostsGrid
      baseUrl="snippet"
      linkToAllHref={localizePath(`/snippets`, i18next.language)}
      linkToAllText={tAllSnippets}
      posts={snippets}
      title={tRecentSnippets}
    />
  </Main>
  <Footer />
</Layout>
