---
import CardDatetime from "./CardDatetime";

export interface Props {
  title: string;
  body: string;
  ogImage?: string;
  href: string;
  published: Date;
}

const { href, title, body, ogImage, published } = Astro.props;
---

<a href={href}>
  <div
    class="w-full rounded-lg border shadow duration-200 ease-in hover:scale-105"
  >
    <img class="rounded-t-lg" src={ogImage} alt="" />
    <div class="p-5">
      <h5 class="mb-5 text-base font-bold leading-5 tracking-tight">
        {title}
      </h5>
      <p class="mb-10 text-xs font-thin leading-6">
        {body}
      </p>
      <CardDatetime datetime={published} />
    </div>
  </div>
</a>
